<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="grid grid-cols-3 gap-5 justify-between items-center mt-4">
        <a href="/components/modal-cart.html"
            class="bg-teal-500 px-5 py-5 rounded-full font-bold text-white justify-center">
            Cart
        </a>
        <a href="/components/modal-categories.html"
            class="bg-sky-500 px-5 py-5 rounded-full font-bold text-white justify-center">
            Categories
        </a>
        <a href="/components/modal-order.html"
            class="bg-red-500 px-5 py-5 rounded-full font-bold text-white justify-center">
            Order
        </a>
    </div>
</body>

</html>