<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex justify-center items-center h-screen">

    <div id="modal" class="bg-white rounded-lg shadow-sm w-[350px] p-10">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-semibold">Categories</h2>
            <button id="closeButton" class="text-gray-600 text-2xl">&times;</button>
        </div>
        <div class="grid grid-cols-3 gap-5 justify-between items-center mt-4">
            <button class="flex items-center text-white px-4 py-2 rounded-lg bg-[#A91D3A] gap-2">
                <div class="item">
                    <img src="/svg/cup.svg" alt="" width="40" height="40">
                    <p>Milk</p>
                </div>
            </button>
            <button class="flex items-center text-white px-4 py-2 rounded-lg bg-[#A91D3A] gap-2">
                <div class="item">
                    <img src="/svg/cup.svg" alt="" width="40" height="40">
                    <p>Milk</p>
                </div>
            </button>
            <button class="flex items-center text-white px-4 py-2 rounded-lg bg-[#A91D3A] gap-2">
                <div class="item">
                    <img src="/svg/cup.svg" alt="" width="40" height="40">
                    <p>Milk</p>
                </div>
            </button>
            <button class="flex items-center text-white px-4 py-2 rounded-lg bg-[#A91D3A] gap-2">
                <div class="item">
                    <img src="/svg/cup.svg" alt="" width="40" height="40">
                    <p>Milk</p>
                </div>
            </button>
            <button class="flex items-center text-white px-4 py-2 rounded-lg bg-[#A91D3A] gap-2">
                <div class="item">
                    <img src="/svg/cup.svg" alt="" width="40" height="40">
                    <p>Milk</p>
                </div>
            </button>
            <button class="flex items-center text-white px-4 py-2 rounded-lg bg-[#A91D3A] gap-2">
                <div class="item">
                    <img src="/svg/cup.svg" alt="" width="40" height="40">
                    <p>Milk</p>
                </div>
            </button>
        </div>
    </div>

    <script>
        const modal = document.getElementById('modal');
        const closeButton = document.getElementById('closeButton');

        closeButton.addEventListener('click', () => {
            modal.style.display = 'none';
        });
    </script>

</body>

</html>