<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="bg-black flex justify-center items-center h-screen">

    <div id="page" class="bg-white shadow-sm w-[360px] p-10 flex flex-col justify-center items-center h-screen">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module">
        </script>
        <dotlottie-player src="json/404.json" background="transparent" speed="1" loop autoplay style="height: 150px;">
        </dotlottie-player>
        <div class="text-black font-bold text-xl mt-2">Your Page is Not Found</div>
    </div>
    <script>
        const modal = document.getElementById('modal');
        const cancelButton = document.getElementById('cancelButton');

        cancelButton.addEventListener('click', () => {
            modal.style.display = 'none';
            window.location.href = '/components-cafe/index.html';
        });
    </script>
</body>

</html>